

<div class="header">
	<div class="logo">
		<h1> Shhhh.club </h1>
		<h2> Be Quiet and Dance </h2>
	</div>	
	<div class="login">
      <button class="button" onclick="facebookLogin()">Sign in with Facebook</button>
	</div>
</div>

<div class="body">
	<div class="hero">
		
	</div>
</div>






