

<div class="header">
	<div class="logo">
		<h1> TheSilent.club </h1>
		<h2> Be Quiet and Dance </h2>
	</div>	
	<div class="login">
		<div class="button">
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)%>
      <!--<button class="button" onclick="facebookLogin()">Sign in with Facebook</button>-->
		</div>
	</div>
</div>

<div class="body">
	<div class="hero">
		
	</div>
</div>






