<div class="room-view">
	<div class="header-flex">
		<div class="logo">
			<h1> Shhhh.club </h1>
			<h2> Be Quiet and Dance </h2>
		</div>	
		<div class="login">
			<div class="button">
				<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :target => "_blank" %>
			</div>
		</div>
	</div>
	<%=# react_component('Room', {:pollInterval=> 2000, :url => "/rooms/#{@room.id.to_s}"}) %>
</div>

<%= audio_tag @track_stream, controls: true %>

<script type="text/javascript" charset="utf-8">

  if ($('#room.show')){
    var room_id = <%= @room.id %>
    var presenceChannel = pusher.subscribe("presence-room-" + room_id);
    presenceChannel.bind('pusher:subscription_succeeded', function(members) {
     alert(members.count)
    });
  }

</script>